<table class="navbar">
    <tr>
        <td>
            <a routerLink=""> <img style="width:300px; height:300px;" src="/assets/logo.gif"></a><br><br>
            <a style="font-weight:normal; margin-right:40px; color:#19c0d6;" routerLink="shifts">SHIFTS</a>&nbsp;
            <a style="font-weight:normal; margin-right:40px; color:#19c0d6;" routerLink="/AddShift">ADD  SHIFTS</a>&nbsp;
            <a style="font-weight:normal; margin-right:40px; color:#19c0d6 ;" routerLink="editprofile">EDIT  PROFILE</a>
        </td>

        <td>
            <a style="font-weight:normal; margin-right:50px; color:#19c0d6;" routerLink="/login">LOG OUT</a><br>
            <br>
            <a style="font-weight:normal; margin-right:50px; color:#19c0d6;" routerLink="/register">Hello, </a><br>
            <br>

        </td>
    </tr>
</table>
<router-outlet></router-outlet>

