<div class="container">
  <div class="header">
    <h2>Welcome to Tesseract register page</h2>
  </div>
  <form name="register" class="register" id="register">
    <div class="input-container">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="enter your username " id="username"/>
    </div>

    <div class="input-container">
      <label for="email">Email</label>
      <input type="email" placeholder="enter email address" id="email" />
    </div>
    
    <div class="input-container">
      <label for="fname">First Name</label>
      <input type="text" placeholder="john" id="fname" />
    </div>

    <div class="input-container">
      <label for="fname">Last Name</label>
      <input type="text" placeholder="doe" id="lname" />
    </div>

    <div class="input-container">
      <label for="password">Password</label>
      <input type="password" placeholder="enter your password" id="password"/>
    </div>

    <div class="input-container">
      <label for="password">Confirm Password</label>
      <input type="password" placeholder="confirm password" id="password2nd"/>
    </div>

    <div class="input-container">
      <label for="age">Age</label>
      <input type="age" placeholder="enter age" id="age" />
    </div>

    <div class="input-container">
      <button (click)="storeData()">Registration</button>
    </div>
    
  </form>
</div>
<!-- <p>register works!</p> -->
