<div class="container">
  <div class="header">
      <h2>Welcome to Tesseract log in page</h2>
  </div>
  <form class="form" id="form">

    <div class="form-control">
      <label for="username">Username</label>
      <input type="text" placeholder="enter your username " id="username">
      <i class="fa fa-check-circle"></i>
      <i class="fa fa-times-circle"></i>
      <small>Error message</small>
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input type="password" placeholder="enter your password" id="password">
    <i class="fa fa-check-circle"></i>
    <i class="fa fa-times-circle"></i>
    <small>Error message</small>
  </div>

  <div class="form-control">
    <button class="btn" id="button" type="submit">Log In</button>
  </div>
  </form>
</div>

<!-- <p>login works!</p> -->
